## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [41]:
# Your code here
sample_list_1 = [i for i in random.sample (range(100),80)]

print(sample_list_1)

[3, 22, 38, 54, 78, 55, 11, 15, 12, 40, 89, 16, 47, 69, 56, 70, 65, 77, 37, 94, 10, 28, 29, 86, 42, 73, 80, 32, 31, 7, 30, 27, 68, 91, 98, 0, 93, 58, 39, 76, 5, 96, 87, 64, 67, 82, 13, 83, 48, 46, 19, 43, 57, 61, 81, 9, 51, 24, 79, 17, 49, 33, 41, 90, 23, 44, 14, 6, 21, 45, 92, 85, 18, 74, 97, 62, 99, 84, 50, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [44]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = [i for i in random.sample(range(0, 100),40)
                 + random.sample(range(0, 100),40)]

print(sample_list_2)

[43, 99, 68, 22, 30, 11, 1, 70, 23, 41, 36, 29, 58, 40, 34, 79, 93, 65, 90, 71, 28, 64, 81, 17, 78, 73, 72, 56, 3, 96, 86, 38, 19, 31, 45, 69, 97, 47, 13, 15, 46, 55, 36, 26, 80, 81, 90, 71, 48, 29, 19, 69, 34, 88, 45, 72, 7, 61, 22, 41, 54, 83, 40, 27, 59, 11, 32, 5, 56, 18, 47, 13, 97, 84, 62, 58, 86, 8, 33, 6]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)

len (set2)

#El tamaño del set ha cambiado, los valores duplicados se han eliminado quedando solo 1.

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1 - set2

print(set3)

{0, 2, 9, 10, 12, 16, 20, 21, 24, 35, 37, 39, 42, 44, 49, 50, 51, 52, 53, 63, 66, 67, 75, 77, 82, 87, 89, 92, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4 = set2-set1

print(set4)

{97, 73, 15, 79, 84, 55, 23, 90, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1.intersection(set2)

print(set5)

{1, 3, 5, 6, 7, 8, 11, 13, 17, 18, 19, 22, 26, 27, 28, 29, 31, 32, 33, 34, 36, 38, 40, 41, 43, 45, 46, 47, 48, 54, 56, 58, 59, 61, 62, 64, 65, 68, 69, 70, 71, 72, 78, 80, 81, 83, 86, 88, 93, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

set5=set1∩set2
set4=set1∉set2
set3=set2∉set1

In [14]:
# Your code here

#El tamaño del set2 menos rl set5 tiene que ser igual al set3
print(len(set1)-len(set5))
print(len(set3))

#El tamaño del set1 menos el set5 tiene que ser igual al set4
print(len(set2)-len(set5))
print(len(set4))

29
29
9
9

#### Create an empty set called `set6`.

In [15]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here
set6.update(set3 , set5)

print(set6)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 75, 77, 78, 80, 81, 82, 83, 86, 87, 88, 89, 92, 93, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [17]:
# Your code here
set1-set6

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [20]:
# Your code here

print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [39]:
# Your code here

set7 = (set.union(set3,set4,set5))
set8 = (set.union(set1,set2))

print(set7 == set8)

False

#### Using the `pop` method, remove the first element from `set1`.

In [47]:
# Your code here

print(set1)
set1.pop()
print(set1)

{0, 3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 61, 62, 64, 65, 67, 68, 69, 70, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}
{3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 61, 62, 64, 65, 67, 68, 69, 70, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(set(list_to_remove))

print(set1)

{3, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 26, 27, 28, 30, 32, 33, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 54, 55, 56, 57, 58, 62, 64, 65, 67, 68, 70, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 96, 97, 98}